
$buttons: rgb(255, 169, 169);
$primary: $buttons;

#redes {
    padding-left: 20%; }
  
  #redesiconos {
    padding-left: 100%; }
  
  #derechos {
    padding-left: 35%; }
  
  #textosintroductorios {
    font-family: "Roboto Slab", serif;}
  
  #textostitulares {
    font-family: "Bebas Neue", cursive;
    font-size: 40px; }
  
  main div p {
    font-family: "Heebo", sans-serif; } 
@import"fonts";
@import "../libs/bootstrap/scss/bootstrap.scss";
@import"mixin";
