@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
#redes {
  padding-left: 20%; }

#redesiconos {
  padding-left: 100%; }

#derechos {
  padding-left: 35%; }

#textosintroductorios {
  font-family: "Roboto Slab", serif; }

#textostitulares {
  font-family: "Bebas Neue", cursive;
  font-size: 40px; }

main div p {
  font-family: "Heebo", sans-serif;}


  @media (max-width: 576px) { 
    iframe{
      width: 260px; 
      height: 115px;
    }
  }

  @media (min-width: 576px) { 
    iframe{
      width: 560px; 
      height: 315px;
    }
  }


  @media (min-width: 768px) { 
    iframe{
      width: 360px; 
      height: 215px;
    }

  }
  

  @media (min-width: 1112px) { 
    iframe{
      width: 560px; 
      height: 315px;
    }

  }

#redes {
    padding-left: 20%; }
  
  #redesiconos {
    padding-left: 100%; }
  
  #derechos {
    padding-left: 35%; }
  
  #textosintroductorios {
    font-family: "Roboto Slab", serif;}
  
  #textostitulares {
    font-family: "Bebas Neue", cursive;
    font-size: 40px; }
  
  main div p {
    font-family: "Heebo", sans-serif; } 

    $primary:rgb(247, 141, 141);
@import "../libs/bootstrap/scss/bootstrap.scss";
