@import "fonts";
$font-titular:'Bebas Neue', cursive; 
$tituar-tama: 40px;
$Font-iniciales: 'Roboto Slab', serif;
$font-otros:'Heebo', sans-serif;

#redes{
    padding-left: 20%;
}
#redesiconos{
    padding-left: 100%;
}
#derechos{
    padding-left:35%;
}

#textosintroductorios{
    font-family:($Font-iniciales);

}

#textostitulares{
    font-family: ($font-titular);
    font-size: ($tituar-tama);

    
}
main{
    div{
        p{
            font-family:$font-otros;
        }
    }
}
